footer{
    display: grid;
    font-size: 1.4em;
    font-family: 'Arial';
    color: white;
    background: rgba(0,0,0,.6);
}

address{
    display: grid;
    align-items: center;
    justify-content: center;
}