form{
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr;
    width: 300px;
    height: 400px;
    padding: 20px;
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: -1;
    background: rgba(0,0,0,.2);
    border-radius: 5px;

}

form input {
    display: inline-block;
    margin: 10px;
}

form label{
    display: inline-block;
}



.form__buttons button{
    margin: 10px 20px 10px 0;
}